<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-ref>
        <description>Conexiones BD</description>
        <res-ref-name>jdbc/sedesol</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>ControladorSesion</servlet-name>
        <servlet-class>com.proyectosedesol.controlador.ControladorSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProcesos</servlet-name>
        <servlet-class>com.proyectosedesol.controlador.ControladorAM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarPDF</servlet-name>
        <servlet-class>com.proyectosedesol.visualizarPDF.VisualizarPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportarExcel</servlet-name>
        <servlet-class>com.proyectosedesol.excel.ImportarExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearExcel</servlet-name>
        <servlet-class>com.proyectosedesol.excel.CrearExcelAm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCD</servlet-name>
        <servlet-class>com.proyectosedesol.controlador.ControladorCD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearExcelCd</servlet-name>
        <servlet-class>com.proyectosedesol.excel.CrearExcelCd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCR</servlet-name>
        <servlet-class>com.proyectosedesol.controlador.ControladorCR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearExcelCr</servlet-name>
        <servlet-class>com.proyectosedesol.excel.CrearExcelCr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>com.proyectosedesol.controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorSesion</servlet-name>
        <url-pattern>/ControladorSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProcesos</servlet-name>
        <url-pattern>/ControladorProcesos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarPDF</servlet-name>
        <url-pattern>/VisualizarPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportarExcel</servlet-name>
        <url-pattern>/ImportarExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearExcel</servlet-name>
        <url-pattern>/CrearExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCD</servlet-name>
        <url-pattern>/ControladorCD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearExcelCd</servlet-name>
        <url-pattern>/CrearExcelCd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCR</servlet-name>
        <url-pattern>/ControladorCR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearExcelCr</servlet-name>
        <url-pattern>/CrearExcelCr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
